/* COLOR PALETTE //////////////
BACKGROUND COLOR: #040D3A
LIGHT ACCENT: #A2AEF4
CORNFLOWER BLUE: #6D8BF0
ROYAL BLUE: #1F51CB
NAVY: #061E6C
*/
@font-face {
    font-family: 'IM Fell French Canon SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('IM FELL French Canon SC'), local('IM_FELL_French_Canon_SC'), url(https://fonts.gstatic.com/s/imfellfrenchcanonsc/v9/FBVmdCru5-ifcor2bgq9V89khWcmQghEURY7H0czWhG3IkqG.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v4/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7AneRAHRfwhRT.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v4/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7A3eRAHRfwhRT.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Major Mono Display Regular'), local('MajorMonoDisplay-Regular'), url(https://fonts.gstatic.com/s/majormonodisplay/v4/RWmVoLyb5fEqtsfBX9PDZIGr2tFubRh7DXeRAHRfwg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Monoton'), local('Monoton-Regular'), url(https://fonts.gstatic.com/s/monoton/v9/5h1aiZUrOngCibe4TkHLQka4BU4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Six Caps';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Six Caps'), local('SixCaps'), url(https://fonts.gstatic.com/s/sixcaps/v10/6ae_4KGrU7VR7bNmaYcV_3T4Pzoo.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #49537C!important;
border: none!important;
}
.step-links a{
color: #34A853;
}

body, html {
    background-color: #040D3A!important;
    height: 100%;
    margin-bottom: 10%;
    font-family: 'Montserrat', sans-serif;
 }
  
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nightlife.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
}

.club-text {
    font-size:55px;
    font-family: 'Monoton', cursive;
}

.advisor-text {
    font-size:65px;
    font-family: 'Major Mono Display', monospace;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

 .form-control {
    border-right: none;
    border-top: none;
    border-left: none;
    box-shadow: none;
    background-color: #040D3A;
    border-radius: 0px;
    font-size: 24px;
    height: 7%;
    position: relative;
    margin-bottom: 1.5rem;
    color: #A2AEF4
}
.form-control:focus{
    box-shadow: none;
    color: white;
    border-color: #A2AEF4
}


.form-horizontal .form-group{
    margin: 5%;
    position: relative;
    display: flex;
  }
  
.form-control-placeholder {
    font-size: 24px;
    position: absolute;
    top: 0;
    padding: 6px 0 0 12px;
    transition: all 250ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

  label {
    padding: 6px 12px 0 12px;
    font-size: 16px;
    vertical-align: top;
    color: white
  }

  .btn-secondary.active, .btn-secondary.focus {
      background-color: #A2AEF4!important;
  }

  .bootstrap-select .dropdown-menu li a {
      background-color: white;
  }

  .bootstrap-select{
      width: max-content!important;

  }

  .submit-div{
    display: flex; 
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
  }

  .submit{
    margin: 5%;
    font-size: 20px!important
  }

  .submit:hover{
      background-color: #A2AEF4!important;
      border-color: none!important;
  }

  /* .output-message{
      color: white;
      font-size: 24px;
      font-family: 'Montserrat', sans-serif;
      justify-content: center;
      text-align: center;
    } */


  /*
  .result_container{
    width: 90%;
    border: 10px solid white;
    margin-left: 30px auto;
    margin-right: 30px auto;
    background-color: #A2AEF4;
    margin-bottom: 20px;
  }
  

  .output_name{
    font-size: 30px;
  }

 .rating{
      color: #e6c702;
      font-size: 24px;
  }

  .price{
      color: #065408;
      font-size: 20px;
  }

  .top{
      margin-top: 20px;
      display: flex;
  }
  .left{
      flex-grow: 1;
      width: 100%;
  }
  .right{
      flex-grow: 3;
      margin-right: 20px;
  }
  .bar_photo{
      width: 100%;
  }

  .review{
   
      margin-right:30px;
  } */
/* 
  .container-fluid{
    margin-top:2%;
    margin-bottom:8%;

} */

.output-message{
    color: white;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.container-multi{
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
  }
  
  .container-multi .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }