/* COLOR PALETTE //////////////
BACKGROUND COLOR: #040D3A
LIGHT ACCENT: #A2AEF4
CORNFLOWER BLUE: #6D8BF0
ROYAL BLUE: #1F51CB
NAVY: #061E6C
*/

@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}

.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}

.step-links a{
color: #34A853;
}

body, html {
    background-color: #040D3A!important; 
    font-family: 'Raleway', sans-serif;
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nightlife.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

.demo {
  justify-content: center;
  display: flex;
}
  
/* HEADER *****************************************/

.hero-image-form {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("nightlife.jpg");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    text-align: center;
    color: white;
}
.hero-text-vertical{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/nightlife.jpg');
}
.hero-text-search {
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 3vw;;
}

.club-text {
    font-size:5vw;
    font-family: 'Monoton', cursive;
}

.advisor-text {
    font-size:6vw;
    font-family: 'Major Mono Display', monospace;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

/*FORM ******************************************/
.search-title{
  padding-top: 5%;
  padding-bottom: 3%;

}

.city-help{
  text-align: center;
  justify-content: center;
  color: #ccc;
  font-size: 2vw;
  margin-bottom: 10px;
}

 .form-control {
    border-right: none;
    border-top: none;
    border-left: none;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0px;
    font-size: 2vw;
    height: 7%;
    position: relative;
    margin-bottom: 1.5rem;
    color: #A2AEF4
}

.form-control:focus{
    box-shadow: none;
    color: white;
    border-color: #A2AEF4
}


.form-horizontal .form-group{
    margin: 5%; 
    position: relative;
    display: table;
    font-size: 2vw;
    width: 90%;
    padding: 0 9%;
  }

.search-form-margin {
  padding: 0!important;
}

/* FLOATING TEXT FIELD ******************************/
/* CITY, SEARCH, BAR NAME ***************************/

  
.form-control-placeholder {
    font-size: 2vw;
    position: absolute;
    top: 0;
    padding: 6px 0 0 12px;
    transition: all 250ms;
    opacity: 0.5;
  }
  
  .form-control:focus + .form-control-placeholder,
  .form-control:valid + .form-control-placeholder {
    font-size: 80%;
    transform: translate3d(0, -100%, 0);
    opacity: 1;
  }

  label {
    padding: 0px 12px 0 12px;
    font-size: 2vw;
    color: white;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
  }

  /* PRICE ************************************/


  .price-btn{
    font-size: 2vw;
    background-color: #8c1cff;    
    border: none!important;
  }
    
  .price-btn.active, .price-btn:hover {
    background-color: #375bff!important;
    color: white;
  }

  .price-label{
    font-size: 80%;
    width: 15%;
    display: inline-block;
  }

  .price-range{
    width: 85%;
    display: inline-block;
  }

  /*LET's GO BUTTONS *********************************/
  .go-btn{
    background-image: linear-gradient(135deg,#375bff 0%,#8c1cff 100%)!important;
    border: none!important;
  }

  .go-btn:hover{
    background-size: 200%;
  }

  /*SUBMIT BUTTON ***********************************/

  .submit-div{
    display: flex; 
    justify-content: center;
    font-family: 'Major Mono Display', monospace;
  }

  .submit{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw!important
  }

  /* SUGGESTIONS ************************************/
  
  .carousel-object-name{
    display: inline-block;
    font-size: 3vw;
    font-style: italic;
    width: 70%;
  }

 .rating{
      color: #e6c702;
      font-size: 3vw;
      float: right;
      margin: 0;
      width: 30%;
      text-align: end;
  }

  .price{
      color: #065408;
      font-size: 3vw;
  }

  .info {
    font-size: 1.5vw;
  }

  .top{
      width:100%;
      text-align: center;
      justify-content: center;
  }
  .left{
      width: 50%;
      margin-left: 20px;
      display: inline-block;
      text-align: center;
      
  }
  .right{
      width: 50%;
      margin-right: 20px;
      display: inline-block;
      
  }
  .bar_photo{
    max-width:100%;
    max-height: 250px;
    margin: 10px;
  }

  .review{
      /* margin: 10px; */
      /* margin-right:30px; */
      padding: 0;
      justify-content: center;
      text-align: center;
      display: flex;
      background-color: transparent!important;
  }

/* PREVIOUS BUTTON *****************************************/
.back-button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  position: absolute;
  left: 5%;
  width: fit-content;
  font-size: 1.5vw;
}

.back-button:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

/* CAROUSEL SUGGESTIONS ************************************/

.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; margin:10px; background:#f1f1f1; color:#666;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
  .container-fluid{
    margin-top:2%;
    margin-bottom:8%;

}

.output-message{
    color: white;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.content-title{
  font-size:3vw
}
.container-multi{
    position: relative;
    max-width: 800px; 
    margin: 0 auto; 
    cursor: pointer;
  }
  
  .container-multi .content {
    position: absolute; 
    bottom: 0; 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%; 
    font-family: 'Montserrat', sans-serif;
  }

  .container-multi .corner {
    position: absolute; 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.8vw;
    font-family: 'Montserrat', sans-serif;
  }

/* CAROUSEL MODALS ************************************/

  .address{
    width: 90%
  }

  .close {
    color:white!important;
    opacity: 1!important;
    font-size: 3vw!important;
    width: 10%;
    text-align: end;
  }

  .close:hover{
    color: grey!important;
  }
  .modal-content{
    border-radius: 0!important;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85)!important;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .modal-dialog{
      overflow-y: initial!important
  }
  
  .modal-body{
      height: 525px;
      overflow-y: auto;
  }

  .modal-header{
    padding: 2%!important
  }

  .review-button{
    font-size: x-large;
  }

  .review-list{
    list-style-type: none;
    padding: 0 2% !important;
    font-size: 1.5vw;
  }

  .hours-table{
    color: white;
    font-size: 1.5vw;
  }

  .accordion {
    background-color: transparent;
    color: #A2AEF4;
    cursor: pointer;
    padding: 2%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 2vw;
    transition: 0.4s;
  }
  
  .accordion-active, .accordion:hover {
    background-color: #040D3A;
  }
  
  .panel {
    padding: 0 2%;
    background-color: transparent!important;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin-top: 10px;
    height: 300px!important;
    overflow-y: auto;
  }


  /*  TEMP ********* */

 