<html>

    <div class="hero-text hero-text-vertical">
            <span class="club-text">CLUB</span>
            <span class="advisor-text">Advisor</span>

    </div>



   
    <form class="form-horizontal" id = "myform">
        <div id = bars>
        
            <div class="search-title">
                <a class="back-button previous round" href="/">&#8249;</a>
                <!-- <button type = "button" id = "previous" class="back-button previous round"> &#8249; </button> -->
                <div class=city_help> Searching in {{city}} </div>
            </div>

            <div class="form-group">
                <input type="text" id="location" name="location" class="form-control" placeholder = "ex: East Village, Times Square" >
                <label class="form-control-placeholder" for="location">Location</label>
            </div>

        <!----------------------------------- PREFS ----------------------------------->
        <div class="form-group">
           <input type="text" id="bar_name" name = "bar_name" class="form-control" required list = barlist > 
            <label class="form-control-placeholder" for="bar_name">Bar Name</label>
    
        <datalist id = barlist>
                {% for d in bars %}
                    <option value = "{{d}}">
                {% endfor %}
            </datalist>

        </div>

       

        <!----------------------------------- PRICE ----------------------------------->
        <div class="form-group">
            <label for="price">Price</label>
            <div id = "price" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "1"> $
                </label>
                <label class="btn btn-secondary">
                <input type="radio"  name="price" value = "2"> $$
                </label>
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "3"> $$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "4"> $$$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "5"> $$$$$
                </label>
            </div>
        </div>
    
        <!----------------------------------- SUBMIT ----------------------------------->
        <div id = "error" class = "city_help" style="display: none;">
            Something went wrong. Try checking spelling.
        </div>
        <!----------------------------------- SUBMIT ----------------------------------->
        <div class="submit-div">
            <!-- <button 
                id="submit-back"
                type="submit" 
                class="submit btn btn-info " 
                > back 
            </button>  -->

            <button 
                id="submit_bar"
                type="submit" 
                class="submit btn btn-info " 
                > lets go! 
            </button> 
            
        </div>

        

    </div>

        <div class="submit-div-reset" >
            <button 
                style="display: none;"
                id="reset-bars"
                type="reset" 
                class="submit btn btn-info " 
                > search again! 
            </button> 
        </div>


    
        
</form>
 
 

<script>
        var bars_list = "{{bars}}"


        $("#reset-bars").click(function(e){
                $("#bars").toggle('collapse');
                $("#reset-bars").css('display','none');
                $("#place_for_suggestions").empty();
            });

        $("#submit-back").click(function(e){
                e.preventDefault();
                $("#demo").toggle('collapse');
                $("#place_for_search").empty();
            });
          
        
        function submitHandler3(response){
                $("#bars").toggle('collapse');
                $("#reset-bars").css('display','flex')
                //$("#place_for_search").empty();
                $("#place_for_suggestions").html(response);
            }
          

        $("#submit_bar").click(function(event){
            event.preventDefault();
            
            var city =  $("#city").val();
            var location =  $("#location").val();
            var price =  $("input[name='price']:checked").val();
            
            var bar_name = $("#bar_name").val();
        
            console.log(bar_name)

            
            $.ajax({
                url: "/suggestions",
                type: "get",
                data: {
                city: city,
                location: location, 
                price: price, 
                bar_name: bar_name,
                
            },
                success: function(response) {
                submitHandler3(response);
                },
                error: function(xhr) {
                console.log("ERROR");
                $("#error").css('display','flex')
                }
            });
        }); 
 
 </script>

 

</html>