<html>
   
    <div class="hero-text hero-text-vertical">
        <span class="club-text">CLUB</span>
        <span class="advisor-text">Advisor</span>

    </div>
        
    <div class="search-title">
        <button id="submit-back" type="button"  class="back-button previous  " > &#8249; Back to Home </button> 
        <div id = "city-help" class=city-help> Searching in {{city}} </div>
    </div>

    <form class="form-horizontal" id = "myform">
        <div id = pref>



            <div class="form-group">
                <input type="text" id="location" name="location" class="form-control"  placeholder = "ex: East Village, Times Square" >
                <label class="form-control-placeholder" for="location">Location</label>
            </div>

        <!----------------------------------- PREFS ----------------------------------->
        <div class="form-group">
            <input type="text" id="search" name = "search" class="form-control"  placeholder = "ex: dancing, EDM"  >
            <label class="form-control-placeholder" for="search">Preferences?</label>
        </div>

       

        <!----------------------------------- PRICE ----------------------------------->

        <div class="form-group">
            <label for="price">Price</label>
            <div id = "price" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "1"> $
                </label>
                <label class="btn btn-secondary">
                <input type="radio"  name="price" value = "2"> $$
                </label>
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "3"> $$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "4"> $$$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "5"> $$$$$
                </label>
            </div>
        </div>

        <!----------------------------------- ERROR ----------------------------------->
        <div id = "error" class = "city-help" style="display: none;">
            Something went wrong. Try checking spelling.
        </div>

        <!----------------------------------- SUBMIT ----------------------------------->
        <div class="submit-div">
            <button 
                id="submit_pref"
                type="submit" 
                class="submit btn btn-info " 
                > lets go. 
            </button> 
        </div>
    </div>

    <div class="submit-div-reset" >
        <button 
            style="display: none;"
            id="reset-pref"
            type="reset" 
            class="submit btn btn-info " 
            > search again! 
        </button> 
    </div>

</form>



<script>

        function submitHandler2(response){
            $("#pref").toggle('collapse');
            $("#reset-pref").css('display','flex')
            //$("#place_for_search").empty();
            $("#city-help").css('display','none')

            $("#place_for_suggestions").html(response);
         }

         $("#reset-pref").click(function(e){
            $("#pref").toggle('collapse');
            $("#reset-pref").css('display','none');
            $("#city-help").css('display','flex')
            $("#place_for_suggestions").empty();
        });

        $("#submit-back").click(function(e){
            e.preventDefault();
            $("body").css('background-image', "linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/nightlife.jpg')");
            $("#demo").toggle('collapse');
            $("#place_for_search").empty();
            $("#place_for_suggestions").empty();      
        });


    
        $("#submit_pref").click(function(event){
            event.preventDefault();
            var city =  $("#city").val();
            var location =  $("#location").val();
            var price =  $("input[name='price']:checked").val();
            
            var search = $("#search").val();

            
            console.log(location, city)
            
            $.ajax({
                url: "/suggestions",
                type: "get",
                data: {
                city: city,
                location: location, 
                price: price, 
                search: search,
                
            },
                success: function(response) {
                    submitHandler2(response);
                },
                error: function(xhr) {
                    console.log("ERROR");
                    $("#error").css('display','flex')
                }
            });
        }); 
 
 </script>

 



</html>