<html>
   
<div class="header">
            <div class="hero-image-form">
                <div class="hero-text">
                  <h1>
                      <span class="club-text">CLUB</span>
                      <span class="advisor-text">Advisor</span>
                    </h1>
           
                </div>
              </div>
        </div>
    
        
        <form class="form-horizontal" id = "myform">
        <div id = pref>

            <h3 class=city_help> Searching in {{city}} </h2>


            <div class="form-group">
                <input type="text" id="location" name="location" class="form-control"  placeholder = "ex: East Village, Times Square" >
                <label class="form-control-placeholder" for="location">Location</label>
            </div>

        <!----------------------------------- PREFS ----------------------------------->
        <div class="form-group">
            <input type="text" id="search" name = "search" class="form-control" required  placeholder = "ex: dancing, EDM"  >
            <label class="form-control-placeholder" for="search">Preferences?</label>
            <!--class="form-control-placeholder"-->
        </div>

       



        <div class="form-group">
            <label for="price">Price</label>
            <div id = "price" class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "1"> $
                </label>
                <label class="btn btn-secondary">
                <input type="radio"  name="price" value = "2"> $$
                </label>
                <label class="btn btn-secondary">
                <input type="radio" name="price" value = "3"> $$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "4"> $$$$
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="price" value = "5"> $$$$$
                </label>
            </div>
        </div>

        

    
        <!----------------------------------- SUBMIT ----------------------------------->
        <div class="submit-div">
            <button 
            id="submit-back"
            type="submit" 
            class="submit btn btn-info " 
            > back 
                </button> 


            <button 
                id="submit_pref"
                type="submit" 
                class="submit btn btn-info " 
                > lets go. 
            </button> 
        </div>
    </div>

    <div class="submit-div-reset" >
        <button 
            style="display: none;"
            id="reset-pref"
            type="reset" 
            class="submit btn btn-info " 
            > search again! 
        </button> 
    </div>

</form>
 <!----------------------------------- SUGGESTIONS ----------------------------------->

<script>

        function submitHandler2(response){
                $("#pref").toggle('collapse');
                $("#reset-pref").css('display','flex')
                //$("#place_for_search").empty();
                $("#place_for_suggestions").html(response);
            }

            $("#submit-back").click(function(e){
                e.preventDefault();
                $("#demo").toggle('collapse');
                $("#place_for_search").empty();
            });

            $("#reset-pref").click(function(e){
                $("#pref").toggle('collapse');
                $("#reset-pref").css('display','none');
             
                $("#place_for_suggestions").empty();
            });
          

            $("#submit_pref").click(function(event){
                event.preventDefault();
               
                var city =  $("#city").val();
                var location =  $("#location").val();
                var price =  $("input[name='price']:checked").val();
             
                var search = $("#search").val();
            

                console.log(location, city)
                
                $.ajax({
                  url: "/suggestions",
                  type: "get",
                  data: {
                    city: city,
                    location: location, 
                    price: price, 
             
                    search: search,
                   
                },
                  success: function(response) {
                    submitHandler2(response);
                  },
                  error: function(xhr) {
                    console.log("ERROR");
                  }
                });
            }); 
 
 </script>

 



</html>