<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=Major+Mono+Display&family=Monoton&family=Montserrat&family=Six+Caps&display=swap" rel="stylesheet">    

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    </head>
    <body>

        <div class="hero-image">
            <div class="hero-text">
              <h1>
                  <span class="club-text">CLUB</span>
                  <span class="advisor-text">Advisor</span>
                </h1>
              <p style = "font-size: 30px;">We make going out easy</p>
            </div>
          </div>

        <form class="form-horizontal">
                        
            <div class="form-group">
                <input type="text" id="city" name="city" class="form-control" required>
                <label class="form-control-placeholder" for="city">Where to?</label>
            </div>

            <div class="form-group">
                <label for="price">Price</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary">
                      <input type="radio" name="price" value = "1"> $
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="price" value = "2"> $$
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="price" value = "3"> $$$
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="price" value = "4"> $$$$
                    </label>
                    <label class="btn btn-secondary">
                        <input type="radio" name="price" value = "5"> $$$$$
                    </label>
                  </div>
            </div>

            <div class="form-group">
                <label for="preferences">Preferences</label>

                <div class="dropdown bootstrap-select show-tick show" style="color: white;">
                    <select class="selectpicker " multiple tabindex="-98" data-size="4" data-dropup-auto="false"  >
                        <option name="attribute1"  value ="dancing" >Dancing</option>
                        <option name="attribute2"  value ="touristy" >Touristy</option>
                        <option name="attribute3"  value ="vibey">Vibey</option>
                        <option name="attribute4"  value ="strong booze" >Strong Booze</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <input type="text" id="search" name = "search" class="form-control" >
                <label class="form-control-placeholder" for="search">Other preferences?</label>
            </div>

            <div class="form-group">
                <input type="text" id="bar_name" name = "bar_name" class="form-control">
                <label class="form-control-placeholder" for="bar_name">Search bars similar to...</label>
            </div>
            <div class="submit-div">
                <button type="submit" class="submit btn btn-info " > lets ride! </button> 
            </div>
        </form>
        
        <form class="form-inline global-search" style="color: white;">
        {% if data %}
            <h3>{{output_message}}</h3>
            <br>
            
            {% for d in data %}  
                {% set num = loop.index %}
                <br>
                <div class = results>
                <p class = output_name> <em> {{d['name']}} </em> </p>
                <br>
             
                
                <p class = score> Similarity Score: {{d['score']}}</p>
                {% if d['rating'] %}
                    <p class = rating> {{"⭑" * d['rating']|round|int}} </p>
                {% endif %}
                {% if d['price'] %}
                    <p class = price> {{"$" * d['price']|int}} </p>
                {% endif %}
                <br>
                <a href ="{{d['google_url']}}" > {{d['address']}}</a>
                <br>
                {% if d['hours_open'] %}
                <div class = hours>
                <ul>
                    {% for i in d['hours_open']%}
                    <li class = day_hours> {{i}} </li>
                    <br>
                    {% endfor %}
                </ul>
                </div>
                {% endif %}
                <br>
                <br>
                {% if d['reviews'] %}
                <div class = reviews>
                <ul>

                    {% if d['reviews'][0] %}
                        <li id = rev1 class = "review active {{num}}"> " {{d['reviews'][0]}} "</li>
             
                    {% endif %}
                    {% if d['reviews'][1] %}
                        <li id = rev2 class = "review hidden {{num}}"> " {{d['reviews'][1]}} "</li>
                  
                    {% endif %}
                    {% if d['reviews'][2] %}
                        <li id = rev3 class = "review hidden {{num}}"> " {{d['reviews'][2]}} "</li>
              
                    {% endif %}
                    {% if d['reviews'][3] %}
                        <li id = rev4 class = "review hidden {{num}}"> " {{d['reviews'][3]}} "</li>
                      
                    {% endif %}
                    {% if d['reviews'][4] %}
                        <li id = rev5 class = "review hidden {{num}}" > " {{d['reviews'][4]}} "</li>
                    
                    {% endif %}
                    <!--{% for i in d['reviews']%}
                    <li class = review> " {{i}} "</li>
                    <br> 
                   
                    {% endfor %}--> 
                    
                </ul>
                </div>

                <a class = "prev {{num}}" onclick="slides(-1, '{{num}}')"  > &#10094; </a>
                <a class = "next {{num}}" onclick="slides(1, '{{num}}')"  > &#10095; </a>
                
                {% endif %}
                </div>
                <br>
                
              
            {% endfor %}
            
        {% endif %}
        </form>
        <script>

            
         
            function slides(n, num){
                //let revs = ["rev1", "rev2", "rev3", "rev4", "rev5"] 
                let revs = document.getElementsByClassName("review " + num + "")
               
                if (n == 1){
                    for (i = 0; i<revs.length; i+=1){
            
                        if (revs[i].className == "review active " + num ){
                            if(i == revs.length-1){
                                revs[i].className = "review hidden " + num
                                revs[0].className = "review active " + num
                                break
                            }else{
                                revs[i].className = "review hidden " + num 
                                revs[i+1].className = "review active " + num 
                                break
                            }
                    }
                        
                    }
                }
                if (n == -1){
                    for (i = 0; i<revs.length; i+=1){
            
                        if (revs[i].className == "review active " + num ){
                            if(i == 0){
                                revs[i].className = "review hidden " + num
                                revs[revs.length-1].className = "review active " + num
                                break
                            }else{
                                revs[i].className = "review hidden " + num 
                                revs[i-1].className = "review active " + num 
                                break
                            }
                    }
                        
                    }
                }
                
                
                }
            </script>
        
    </body>

</html>